@tailwind base;
@tailwind components;
@tailwind utilities;

.min-w-0{
    max-width: 100%;
    border-radius: 40px 40px 40px 40px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6061ed;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4338ca;
}